/target/
__pycache__/
*.py[cod]
/.pytest_cache/
/data/*.tmp
/checkpoints/*
!/checkpoints/.gitkeep
/dataset/processed/*
!/dataset/processed/.gitkeep
/dataset/vision/train/*
/dataset/vision/val/*
!/dataset/vision/classes.txt
.venv/
*.pt
